/* Colors variables - couleur primaire, secondaire, tertiaire... */

$colour-primary: #5E6167;
$colour-white: #fff;
$colour-black: #000;

$white-trans: rgba(255,255,255, 0.1);
$white-trans5: rgba(255,255,255, 0.5);
$white-trans8: rgba(255,255,255, 0.7);

$colour-bg-darker: #202225;
$colour-bg-dark: #36393F;
$colour-bg-light: #2F3136;


